<%- include("./includes/header.ejs") %>
</head>
  <body>
    <%- include("./includes/navbar.ejs") %>
  
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a href="" rel="dofollow">UPDATE USER</a></h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">

              <form id="stripe-login" method="POST" action="/edit-user" novalidate>
                
                <div class="field padding-bottom--24">
                  <div class="gs">
                  <label for="name">Name</label>
                  <input
                      class=""
                      type="name" 
                      id="name" 
                      name="name" 
                      value="<%= user.name %>"
                  />
                  </div>
                </div>

                <div class="field padding-bottom--24">
                  <label for="email">ImageUrl</label>
                  <input type="imageUrl" id="imageUrl" name="imageUrl" value="<%= user.imageUrl %>" />
                </div>
                
                <div class="field padding-bottom--24">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" value="<%= user.email %>"/>
                </div>

                <div class="field padding-bottom--24">
                  <label for="number">Number</label>
                  <input type="number" id="number" name="number" value="<%= user.number %>" />
                </div>


                <div class="field padding-bottom--24">
                  <input type="hidden" value="<%= user._id %>" name="userId">
                  <input type="submit" name="adduser">
                </div>
              </form>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </body>
</html>
  </body>
</html>
